@import "../../styles/variables.scss";

.main {
  width: 100%;

  .cont_text {
    width: 100%;
    position: relative;
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo_1 {
      margin: 40px 0 10px;
      height: 40px;
      width: 100px;
      background: url("../../icon/icono-varios.png") no-repeat;
      background-size: 90%;
      background-position: center;
    }

    .text_1 {
      width: 90vw;
      max-width: 600px;
      text-align: center;
      font-weight: 500;
    }
  }
}
