@import "../../styles/variables.scss";

.main {
  width: 100%;

  .cont_1 {
    width: 90vw;
    max-width: 800px;
    margin: 50px auto;
    position: relative;

    -webkit-box-shadow: 5px 5px 20px -6px rgba(128, 128, 128, 1);
    -moz-box-shadow: 5px 5px 20px -6px rgba(128, 128, 128, 1);
    box-shadow: 5px 5px 20px -6px rgba(128, 128, 128, 1);

    display: flex;
    flex-direction: column;

    .cont_11 {
      height: 105vw;
      max-height: 500px;

      position: relative;

      .cont_111 {
        width: 25vw;
        max-width: 250px;
        height: 60%;

        display: flex;
        flex-direction: column;

        position: absolute;
        top: 25%;
        left: 18%;

        .cont_title {
          .title_1 {
            font-size: 25px;
            height: 30px;
            color: black;
            font-weight: 700;
          }

          .title_2 {
            font-size: 15px;
            height: 30px;
            color: black;
          }
        }

        .input {
          margin: 20px 0;
          border-top-style: hidden;
          border-right-style: hidden;
          border-left-style: hidden;
        }
      }

      @include breakpoint(md) {
        height: 56vw;
        max-height: 500px;
      }
    }

    .cont_12 {
      display: none;
      width: 20%;
      height: 56vw;
      max-height: 500px;
      background-color: #eba214;

      @include breakpoint(md) {
        display: inline;
      }
    }

    .cont_13 {
      width: 90vw;
      height: 90vw;
      background-color: #000000;
      right: 0;
      top: 50%;

      .titulo {
        margin: 20px auto 10px;
        color: white;
        text-align: center;
        font-weight: 800;
      }

      .info {
        width: 90%;
        height: 30px;
        margin: 25px auto;

        .text {
          color: white;
        }
      }

      @include breakpoint(md) {
        position: absolute;
        transform: translate(0, -50%);
        width: 350px;
        height: 350px;
      }
    }

    .cont_14 {
      width: 5vw;
      height: 5vw;
      max-width: 50px;
      max-height: 50px;
      background-color: #eba214;

      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);

      &__2 {
        width: 5vw;
        height: 5vw;
        max-width: 50px;
        max-height: 50px;
        background-color: #eba214;
        position: absolute;
        left: 80%;
        top: 6%;
      }

      @include breakpoint(md) {
        left: 0;
        top: 50%;

        &__2 {
          left: 54%;
          top: 11%;
        }
      }
    }

    @include breakpoint(md) {
      display: flex;
      flex-direction: row;
    }
  }
}
