@import "../../styles/variables.scss";

.main {
  width: 100%;

  .cont_1 {
    width: 90vw;
    max-width: 800px;
    margin: 50px auto;
    position: relative;

    -webkit-box-shadow: 5px 5px 20px -6px rgba(128, 128, 128, 1);
    -moz-box-shadow: 5px 5px 20px -6px rgba(128, 128, 128, 1);
    box-shadow: 5px 5px 20px -6px rgba(128, 128, 128, 1);

    display: flex;
    flex-direction: row;

    .cont_11 {
      width: 80%;
      height: 56vw;
      max-height: 500px;
    }

    .cont_12 {
      width: 20%;
      height: 56vw;
      max-height: 500px;
      background-color: #eba214;
    }

    .cont_13 {
      width: 350px;
      height: 350px;
      background-color: #000000;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);

      .titulo {
        margin: 20px auto 10px;
        color: white;
        text-align: center;
        font-weight: 800;
      }

      .info {
        width: 90%;
        height: 30px;
        background-color: white;
        margin: 25px auto;
      }
    }

    .cont_14 {
      width: 50px;
      height: 50px;
      background-color: #eba214;

      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);

      &__2 {
        width: 50px;
        height: 50px;
        background-color: #eba214;
        position: absolute;
        left: 54%;
        top: 11%;
      }
    }
  }
}
