@import "../../styles/variables.scss";

.main {
  width: 100%;

  .cont_1 {
    width: 100%;
    max-width: 1100px;
    height: 500px;
    margin: auto;
    background-color: red;

    display: flex;
    flex-direction: column;

    .cont_2 {
      width: 90%;
      max-width: 500px;
      height: 90%;
      max-height: 500px;
      margin: auto;
      background-color: blue;
    }

    @include breakpoint(md) {
      flex-direction: row;
    }
  }
}
