@import "../../styles/variables.scss";

.cont_1 {
  width: 90vw;
  max-width: 400px;
  margin: 20px 0;

  .title_1 {
    width: 100%;
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
  }

  .cont_2 {
    width: 60vw;
    height: 85vw;
    max-width: 300px;
    max-height: 420px;
    margin: auto;

    @include breakpoint(md) {
      height: 60vw;
    }
  }

  .btn {
    height: 40px;
    width: 150px;
    margin: 20px auto;
    border-radius: 25px;
    border: 2px solid $yellow;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-status {
    display: none;
  }
}
