@import "../../styles/variables.scss";

.cont_1 {
  width: 90vw;
  height: 200vw;
  max-width: 400px;
  max-height: 500px;
  margin: 20px 0;

  .title_1 {
    width: 100%;
    margin: 20px 0;
    font-size: 40px;
    text-align: center;
  }

  .cont_2 {
    width: 27vw;
    height: 25vw;
    max-width: 350px;
    max-height: 330px;
    margin: auto;

    background: url("../../img/general/rectangle_1.png") no-repeat;
    background-size: 66%;
    background-position: center;
  }

  @include breakpoint(md) {
    width: 30%;
    height: 80%;
  }
}
