@import "../../styles/variables.scss";

.cont_1 {
  width: 90vw;
  height: 300vw;
  max-width: 400px;
  max-height: 500px;
  margin: 20px 0;

  .title_1 {
    width: 100%;
    margin: 20px 0;
    font-size: 30px;
    text-align: center;

    @include breakpoint(md) {
      font-size: 40px;
    }
  }

  .cont_2 {
    width: 60vw;
    height: 60vw;
    max-width: 300px;
    max-height: 280px;
    margin: auto;

    // background: url("../../img/general/rectangle_1.png") no-repeat;
    // background-size: 100%;
    // background-position: center;
  }
}
