@import "../../styles/variables.scss";

.article_main_banner {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
  }

  .title {
    color: white;
    font-size: 5em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
  }

  @include breakpoint(md) {
    flex-direction: row;
  }
}
