@import "../../styles/variables.scss";

.main {
  width: 100%;
  height: 100%;

  .cont_1 {
    width: 100%;
    height: 160px;

    background: url("../../img/general/cama.png") no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .titulo {
    margin: 20px 20px 0;
    color: rgb(182, 182, 182);
    font-size: 14px;
    font-weight: 100;
  }

  .titulo_2 {
    margin: 5px 20px 20px;
    color: rgb(126, 126, 126);
    font-size: 14px;
    font-weight: 100;
  }

  .cont_2 {
    margin: 10px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cont_21 {
      width: 18%;
      height: 22px;
      background-color: #fbaf1c;
      border-radius: 10px;
      color: white;
      font-size: 15px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cont_22 {
      width: 50%;
      color: rgb(182, 182, 182);
      font-size: 14px;

      display: flex;
      justify-content: center;
    }

    .cont_23 {
      width: 50%;
      color: rgb(182, 182, 182);
      font-size: 19px;
      width: 25%;
    }
  }

  .cont_3 {
    margin: 10px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cont_31 {
      width: 10%;
    }

    .cont_32 {
      width: 60%;
      color: rgb(15, 204, 204);
      font-size: 14px;
    }

    .cont_33 {
      width: 25%;
      color: rgb(73, 73, 73);
      font-size: 22px;
    }
  }

  .cont_4 {
    margin: 10px 20px;

    display: flex;
    flex-direction: row;

    .cont_41 {
      width: 10%;
    }

    .cont_42 {
      width: 100%;
      color: rgb(73, 73, 73);
      font-size: 14px;
      border-top: 1px solid rgb(212, 212, 212);
    }
  }
}
