@import "../../styles/variables.scss";

.photo_wrapper {
  width: 100%;

  .cont_1 {
    width: 90vw;
    max-width: 1000px;
    margin: 30px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .img {
      width: 20vw;
      height: 20vw;
      max-width: 180px;
      max-height: 180px;
      overflow: hidden;
      margin: 3px;

      @include breakpoint(md) {
        width: 40vw;
        height: 40vw;
        margin: 10px;
      }
    }
  }

  .cont_2 {
    width: 90vw;
    max-width: 1000px;
    margin: 60px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .img {
      width: 40vw;
      height: 40vw;
      max-width: 180px;
      max-height: 180px;
      overflow: hidden;
    }
  }
}
