@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

//colors

$cyan: #166291;
$yellow: #fbaf1c;

//spacing
$spacing-md: 16px;
$spacing-lg: 32px;

//$borderRadius
$borderRadius: 12px;

//Header Height
$headerHeight: 100px;

@mixin breakpoint($point) {
  @if $point == md {
    //768px
    @media (min-width: 48em) {
      @content;
    }
  }
}
