@import "./../styles/variables.scss";

.article_Main_Swiper {
  width: 100%;
  max-width: 1500px;
  height: 500px;
  background-color: red;
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
  }
}
